@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.label-text {
	color: white;
}
